body {
    font-family: "CURSIVE FONT FAMILY", Bradley Hand;
}

section {
    text-align: center;
}

.game--title {
    font-size: 100px;
    color: #ec0a0a;
    margin: 10px auto;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 10px auto;
    background-color: #fdfeff;
    color: #050c04;
}

.cell {
    font-family: "CSS Fonts List", Arial Black;
    width: 100px;
    height: 100px;
    border: 2px solid #fcf803;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.game--status {
    font-size: 50px;
    color: #1f10f1;
    margin: 20px auto;
}

.game--restart {
    font-family: "SERIF FONT FAMILY", Times New Roman;
    background-color: #f0efec;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #e90bf1;
    border: 2px solid #d86c23;
}